@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,300&display=swap");
body {
  margin: 0;
  /* background-color: rgb(170, 130, 130); */

  background-color: white
  /* background-image: url(/stock-market.jpg); */
  background-size: 100% 100%;
}
/* .demo-wrap {
  overflow: hidden;
  position: relative;
}

.demo-bg {
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.demo-content {
  position: relative;
} */

.container {
  font-family: "Prompt", sans-serif;
  font-weight: bolder;
  padding: 0rem 1rem;
  margin: 2rem;
}
.container .center {
  border-radius: 0.25rem;

  max-width: 600px;
  width: 12rem;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 0.5rem;

  border: 2px solid black;
  /* border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem; */
}

h1 {
  text-align: center;
  font-family: "Prompt", sans-serif;
}
.txt {
  display: block;
  text-align: center;
}
#Output {
  display: none;

  text-align: center;
  height: 5vh;
  max-width: 400px;
  /* border: 2px dashed black; */
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: auto;
  max-height: 50px;
}
#submit-btn {
  border-radius: 0.4rem;
  background-color: rgb(136, 203, 136);
  width: 3rem;
}

/* .ctr {
  padding: 0rem 1rem;
} */

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}
.footer {
  padding: 2rem 1rem;
  text-align: center;
  color: black;
  border-top-right-radius: 1rem;
}

.footer .link {
  color: black;
}

.footer ul {
  padding-inline-start: 0px;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}
